body,
html {
    margin: 0;
    padding: 0;
    height: 0;
    background:url("../img/img-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    background-color:#052426 ;
    height: 80px;
    background-size: auto;
   
}
.header,h2{
    color:white;
    text-align: center;
    line-height: 70px;
    background-size: auto;
}
.user_card {
    height: 600px;
    width: 1100px;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo {
    height: 150px;
    width: 150px;
    margin-left: 450px;
    margin-top: 100px;
}
.inscription{
    padding-left: 50px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold; 
}
.niveau{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 50px;
    margin-left: -160px;
}
.form_container{
    height: 50px;
    margin-left: -900px;
    margin-top: 90px;
}
.input_nom{
    width: 600px;
    margin-top: 5px;
    height: 50px;

}
.input_prenom{
    margin-top: 5px;
    height: 50px;

}
.input_login{
    height: 50px;
    margin-top: 5px;
}
.input_pass{
    height: 50px;
    margin-top: 5px;
}
.input_confpass{
    height: 50px;
    margin-top: 5px;
}
.choix_container{
    margin-top: 550px;
    margin-left: -220px;
    
}
.choix_btn{
    background:#51bfd0 ;
    color: white;
    margin-left: -50px;
}
.compte_btn{
    background: #51bfd0 ;
    color: white;
    margin-top: -90px;
}
.avatar{
    margin-top: 500px;
    margin-left: -595px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.joueur{
    margin-top: 247px;
    margin-left: 710px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
