body, html{
    background:url("../img/img-bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}
.header{
    background-color:#052426 ;
    height: 80px;
    width: 100%;
   
}
.header,h2{
    color:white;
    text-align: center;
    line-height: 70px;
}
.logo{
    text-align: left;
    margin-top: -75px;
}
.user_card {
    height: 600px;
    width: 1300px;
    margin-top: 5px;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.titre{
    margin-top: -280px;
    padding: 60px;
}
.logo1{
    margin-left: 750px;
    margin-top: 100px;
    margin-bottom: -100px;
}
.jeu{
    margin-left: 800px;
    margin-top: 100px;
    margin-bottom: -80px;
}
.cult{
    margin-top: -10px;
}
.form_container{
    margin-top: 500px;
}
.form{
    margin-top: 0px;
}
.input_nom{
    height: 50px;
    width: 600px;
}
.input_prenom{
    height: 50px;
    width: 600px;
}
.input_login{
    height: 50px;
    width: 600px;
}
.input_pass{
    height: 50px;
    width: 600px;
}
.input_confpass{
    height: 50px;
    width: 600px;
}
.avatar{
    font-size: larger;
    margin-top: -100px;
}
.choix_btn{
    background:#51bfd0 ;
    color: white;
    margin-left: 450px;
    margin-top: 20px;
}
.compte_btn{
    background: #51bfd0 ;
    color: white;
    margin-top: 20px;
    margin-left: 380px;
}
