body, html{
    background:url("../img/img-bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
}
.header{
    background-color:#052426 ;
    height: 80px;
    width: 100%;
   
}
.header,h2{
    color:white;
    text-align: center;
    line-height: 70px;
}
.logo{
    text-align: left;
    margin-top: -75px;
}
.user_card {
    height: 470px;
    width: 800px;
    margin-top: -410px;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 600px;
}
.titre{
    margin-top: -290px;
    padding: 30px;
    color: black;
}
.logo1{
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: -50px;
    border: solid 4px #51bfd0;
    overflow:hidden;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    width:200px;
    height:200px;
}
.jeu{
    margin-left: 480px;
    margin-top: 50px;
    margin-bottom: -30px;
    font-size: x-small;
    color: black;
}
.cult{
    margin-top: -10px;
}
.form_container{
    margin-top: 500px;
}
.form{
    margin-top: 0px;
    font-size: small;
}
.input_nom{
    height: 40px;
    width: 300px;
    font-size: small;
}
.input_prenom{
    height: 40px;
    width: 300px;
    font-size: small;
}
.input_login{
    height: 40px;
    width: 300px;
    font-size: small;
}
.input_pass{
    height: 40px;
    width: 300px;
    font-size: small;
    border-color: #51bfd0;
}
.input_confpass{
    height: 40px;
    width: 300px;
    font-size: small;
    border-color: #51bfd0;
}
.avatar{
    font-size: larger;
    margin-top: -70px;
    font-size: small;
}
.choix_btn{
    background:#51bfd0 ;
    color: white;
    margin-left: 200px;
    margin-top: 15px;
    font-size: x-small;
}
.compte_btn{
    background: #51bfd0 ;
    color: white;
    margin-top: 3px;
    margin-left: 140px;
    font-size: x-small;
}
.user_card1 {
    height: 500px;
    width: 1300px;
    margin-top: 90px;
    margin-bottom: auto;
    background: #f2f2f2;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 5px 5px ;
}
.logo2{
    border: solid 1px black;
    overflow:hidden;
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    border-radius:80px;
    width: 120px;
}
.login1{
    height: 80px;
    background-color:#51bfd0 ;
    margin-top: -580px;
    width: 1300px;
    margin-left: -10px;
    padding: 20px;
    color: aliceblue;
    border-radius: 5px 5px 0 0;
}


.list-group{
    margin-left: -500px;
    margin-top: 80px;
    width: 400px;
    height: 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.list{
    background-color: #61c5d4;
    border-radius: 5px;
    background-image: linear-gradient(white, #61c5d4 );
}
.list-group-item-action{
    width: 400px;
    background-image: url("../img/ic-liste.png");
    background-repeat: no-repeat;
    background-position: right;
}
.list-group-item-action1{
    background-color: #f8f3f0;
    width: 400px;
    background-image: url("../img/ic-ajout-active.png");
    background-repeat: no-repeat;
    background-position: right;
    color: black;
}
.list-group-item-action2{
    width: 400px;
    background-image: url("../img/ic-liste.png");
    background-repeat: no-repeat;
    background-position: right;
    color: black;

}
.list-group-item-action3{
    width: 400px;
    background-image: url("../img/ic-ajout.png");
    background-repeat: no-repeat;
    background-position: right;
    color: black;

}
.for1{
    text-align: center;
}
.compte_dec{
    margin-left: 1150px;
    background: #39ddd6 ;
    color: white;
    margin-top: 0px;
    font-size:small;
    margin-top: -70px;
}
.a{
    margin-left: 150px;
    margin-top: -20px;
    font-weight: bold;
}
.ligne_verticale
{
    width:5px;
    height:70px;
    color: red;
}